<div style="text-align: center;"><h4>Application Form</h4></div>

<div class="frm container">

    <form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
  <label class="mb-2">Full Name</label><br>
  <input class="form-control" type="text" required name="full_name" placeholder="Bruce Wayne">
  </div>

  <div class="mb-2">
  <label class="mb-2 mt-4">Email</label><br>
  <input class="form-control" type="email" required name="email" placeholder="bruce@wayne.com">
  </div>

  <div class="mb-2">
  <label class="mb-2 mt-4">LinkedIn URL</label><br>
  <input class="form-control" type="text" name="linkedin_url" placeholder="https://linked.com/in/brucewayne">
  </div>

  <div class="mb-2">
    <label class="mb-2 mt-4">Education</label><br>
    <textarea class="form-control" name="education"></textarea>
  </div>

  <div class="mb-2">
    <label class="mb-2 mt-4">Work Experience</label><br>
    <textarea class="form-control" name="work_experience"></textarea>
  </div>

  <div class="mb-2">
  <label label class="mb-2 mt-4">Resume URL</label><br>
  <input class="form-control" type="text" name="resume_url">
  </div>

     <div  class = "mt-5" style="text-align: center;" ><input class="btn btn-primary btn-lg" type="submit"></div>



</form>
  </div>